[submodule "deps/perl"]
	path = deps/perl
	url = git://perl5.git.perl.org/perl
[submodule "deps/m4"]
	path = deps/m4
	url = git://github.com/mwcampbell/m4
[submodule "deps/autoconf"]
	path = deps/autoconf
	url = git://github.com/mwcampbell/autoconf
[submodule "deps/automake"]
	path = deps/automake
	url = git://github.com/mwcampbell/automake
[submodule "deps/libtool"]
	path = deps/libtool
	url = git://github.com/mwcampbell/libtool
[submodule "deps/pkgconf"]
	path = deps/pkgconf
	url = git://github.com/pkgconf/pkgconf
[submodule "deps/flex"]
	path = deps/flex
	url = git://github.com/mwcampbell/flex
[submodule "deps/bison"]
	path = deps/bison
	url = git://github.com/mwcampbell/bison
[submodule "deps/help2man"]
	path = deps/help2man
	url = git://github.com/mwcampbell/help2man
[submodule "deps/texinfo"]
	path = deps/texinfo
	url = git://github.com/mwcampbell/texinfo
[submodule "deps/gawk"]
	path = deps/gawk
	url = git://github.com/mwcampbell/gawk
