[submodule "deps/perl"]
	path = deps/perl
	url = git://perl5.git.perl.org/perl
[submodule "deps/m4"]
	path = deps/m4
	url = git://github.com/mwcampbell/m4
[submodule "deps/autoconf"]
	path = deps/autoconf
	url = git://github.com/mwcampbell/autoconf
[submodule "deps/automake"]
	path = deps/automake
	url = git://github.com/mwcampbell/automake
